<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head'); %>
  <body>
    <aside
      class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left"
      id="show-side-navigation1"
    >
      <i
        class="uil-bars close-aside d-md-none d-lg-none"
        data-close="show-side-navigation1"
      ></i>
      <div
        class="
          sidebar-header
          d-flex
          justify-content-center
          align-items-center
          px-3
          py-4
        "
      >
        <img
          class="rounded-pill img-fluid"
          width="65"
          src="/images/music.png"
          alt=""
        />
        <div class="ms-2">
          <h5 class="fs-6 mb-0">
            <a class="text-decoration-none" href="#">WELCOME</a>
          </h5>
          <p class="mt-1 mb-0">Start sharing!</p>
        </div>
      </div>

      <div class="search position-relative text-center px-4 py-3 mt-2">
        <input
          type="text"
          class="form-control w-100 border-0 bg-transparent"
          style="color: #fff"
          placeholder="Search here"
        />
        <i class="fa fa-search position-absolute d-block fs-6"></i>
      </div>

      <ul class="categories list-unstyled">
        <li>
          <i class="fa fa-users" aria-hidden="true"></i
          ><a href="#"> Our Users </a>
        </li>
        <li>
          <i class="fa fa-music" aria-hidden="true"></i
          ><a href="#"> Music News </a>
        </li>
        <li>
          <i class="fas fa-crown" aria-hidden="true"></i
          ><a href="#"> Taylor Swift </a>
        </li>
        <li><i class="fas fa-quote-right"></i><a href="#"> Music Quotes</a></li>
        <li><i class="fab fa-youtube"></i><a href="#"> Top Music Videos </a></li>
        <li>
          <i class="fas fa-heart-broken"></i><a href="#"> Heartbreak Songs </a>
        </li>
        <li><i class="fas fa-chart-line"></i><a href="#"> Charts Songs </a></li>
        <li>
          <i class="fas fa-globe-americas"></i><a href="#"> By Location </a>
        </li>
          <% if(locals.isLogged) { %>
			<li>
				<i class="fas fa-edit"></i><a href="#open-modal"> Create a Post </a>
			</li>
          <%}%>
      </ul>
    </aside>

    <section id="wrapper">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid mx-2">
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#toggle-navbar"
              aria-controls="toggle-navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="uil-bars text-white"></i>
            </button>
            <a class="navbar-brand" href="#"
              >Share<span class="main-color"> Your Music!</span></a
            >
          </div>
          <% if(locals.isLogged) { %>
          <div
            class="dropdown"
            style="right: 0; border-bottom: 3px solid #ffc107"
          >
            <button class="dropbtn">
              <img
                height="30"
                width="30"
                src="/images/avatars/<%= locals.userLogged.SRC_Image %>"
              />
              Hola, <%= locals.userLogged.Name %>
            </button>
            <div class="dropdown-content">
              <a href="/user/profile">
                <img src="/images/enter.png" />My profile</a
              >
              <a href="/user/logout">
                <img src="/images/sign-up.png" /> Log out</a
              >
            </div>
          </div>
          <% } else { %>
          <div
            class="dropdown"
            style="right: 0; border-bottom: 3px solid #ffc107"
          >
            <button class="dropbtn">
              <img
                style="border-radius: 50%"
                id="imagen"
                height="30"
                width="30"
                src="/images/avatars/default.png"
              />
              My account
            </button>
            <div class="dropdown-content">
              <a href="/user/profile"> <img src="/images/enter.png" />Log In</a>
              <a href="/user/logout">
                <img src="/images/sign-up.png" />Sign Up</a
              >
            </div>
          </div>
          <% } %>
        </div>
      </nav>

      <div class="p-4">
        <div class="welcome">
          <div class="content rounded-3 p-3">
            <h1 class="fs-3">Welcome to ShareYourMusic!</h1>
            <p class="mb-0">
              It is a social network where you can find and share everything
              related to music. Sing up and have fun!
            </p>
          </div>
        </div>
        <br />

        <div class="welcome">
          <div class="content rounded-3 p-3">
            <h1 class="fs-3">
              Featured Posts <img src="/images/musical-notes.png" />
            </h1>
          </div>
        </div>

        <br />
        <div id="open-modal" class="modal-window">
          <div>
            <a href="#" title="Close" class="modal-close">Close</a>
            <h1>Voilà!</h1>
            <div>
              A CSS-only modal based on the :target pseudo-class. Hope you find
              it helpful.
            </div>
            <div><small>Check out</small></div>
          </div>
        </div>
        <% if(locals.isLogged) { %>
        <!-- publication -->
        <div class="tweetBox">
          <form>
            <div class="tweetbox__input">
              <div
                onclick="loadPage('profile')"
                class="tweetbox__input__profileimage"
              >
                <img
				  src="/images/avatars/<%= locals.userLogged.SRC_Image %>"
                  alt="Profile"
                />
              </div>
			  <div class="inputt">
				  <a href="#open-modal"> ✍🏼 Create a Post </a>
			  </div>
            </div>
          </form>
        </div>
        <!-- ends -->
        <%}%>

        <section class="admins mt-4">
          <div class="row">
            <div class="col-md-6">
              <div class="box">
                <!-- <h4>Admins:</h4> -->
                <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                  <div class="img">
                    <img
                      class="img-fluid rounded-pill"
                      width="75"
                      height="75"
                      src="/images/Team/josue.png"
                      alt="admin"
                    />
                  </div>
                  <div class="ms-3">
                    <h3 class="fs-5 mb-1">Josue Vazquez Franco</h3>
                    <p class="mb-0">Computer Systems Engineer Student</p>
                  </div>
                </div>
                <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                  <div class="img">
                    <img
                      class="img-fluid rounded-pill"
                      width="75"
                      height="75"
                      src="/images/Team/pablo.png"
                      alt="admin"
                    />
                  </div>
                  <div class="ms-3">
                    <h3 class="fs-5 mb-1">Juan Pablo Marquez</h3>
                    <p class="mb-0">Computer Systems Engineer Student</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <!-- <h4>Moderators:</h4> -->
                <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                  <div class="img">
                    <img
                      class="img-fluid rounded-pill"
                      width="75"
                      height="75"
                      src="/images/Team/vero.png"
                      alt="admin"
                    />
                  </div>
                  <div class="ms-3">
                    <h3 class="fs-5 mb-1">Veronica Romo Franco</h3>
                    <p class="mb-0">Computer Systems Engineer Student</p>
                  </div>
                </div>
                <div class="admin d-flex align-items-center rounded-2 p-3 mb-4">
                  <div class="img">
                    <img
                      class="img-fluid rounded-pill"
                      width="75"
                      height="75"
                      src="/images/Team/irving.jpg"
                      alt="admin"
                    />
                  </div>
                  <div class="ms-3">
                    <h3 class="fs-5 mb-1">Irving Cardona Camacho</h3>
                    <p class="mb-0">Computer Systems Engineer Student</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="statis mt-4 text-center">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="box bg-primary p-3">
                <i class="uil-eye"></i>
                <h3>5,154</h3>
                <p class="lead">Total of Posts</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="box bg-danger p-3">
                <i class="uil-user"></i>
                <h3>245</h3>
                <p class="lead">User registered</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
              <div class="box bg-warning p-3">
                <i class="uil-shopping-cart"></i>
                <h3>5,154</h3>
                <p class="lead">Categories</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="box bg-success p-3">
                <i class="uil-feedback"></i>
                <h3>0004</h3>
                <p class="lead">Team Work</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="/public/js/home.js"></script>
    <script src="https://use.fontawesome.com/96171fdafb.js"></script>
    <script
      src="https://kit.fontawesome.com/cf85f829dd.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
